@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">
        <i class="bi bi-box-arrow-in-right display-5"></i>
        Автентифікація та авторизація.
    </h1>
</div>
<p>
    Авторизація — процедура "допуску": перевірка результатів автентифікації та прийняття рішення про можливість взаємодії користувача із запитним ресурсом. Розрізняємо два види авторизації — зі збереженням інформації з боку сервера та з боку клієнта.
</p>

<p>
    За першою схемою вживаються сесії (сеанси), які потребують передачі Cookie та витрачають місце (сховище) на сервері. Друга схема передбачає збереження даних на боці клієнта та передачу їх у кожному запиті до сервера.
</p>

@ViewData["JwtModel"]