@model asp_all.Models.Home.HomeFormsViewModel
@{
    ViewData["Title"] = "Forms";
}
<div class="text-center">
    <h1 class="display-4">
        <i class="bi bi-card-checklist display-5"></i>
        Forms
    </h1>
</div>
<p>
    HTML-форми – інструментарій браузерів для надсилання даних до сервера.
    Параметри форми задають:
</p>
<ul>
    <li>
        адресу, куди надсилаються дані (action),
        або asp-тег-хелпери (asp-controller, asp-action, ...). Якщо
        ці параметри не зазначаються або лишаються порожніми, то дані форми
        передаються на поточну адресу;
    </li>
    <li>
        метод, яким надсилаються дані: get або post. Методом get дані включаються
        до URL, post – до тіла пакета;
    </li>
    <li>
        кодування даних форми: <code>application/x-www-form-urlencoded</code> (за
        замовчанням) – спосіб кодування для підстановки в URL,
        <code>multipart/form-data</code> – для розділення даних по різних частинах
        пакету – підходить для передачі файлів.
    </li>
</ul>

<form asp-action="FormsReceiver" method="post" enctype="multipart/form-data" class="border p-3">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-name-addon"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control" name="user-name"
                       placeholder="Name" aria-label="Name" aria-describedby="user-name-addon" />
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-email-addon"><i class="bi bi-envelope-at"></i></span>
                <input type="email" class="form-control" name="user-email"
                       placeholder="E-mail" aria-label="E-mail" aria-describedby="user-email-addon" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-login-addon"><i class="bi bi-key"></i></span>
                <input type="text" class="form-control" name="user-login"
                       placeholder="Login" aria-label="Login" aria-describedby="user-login-addon" />
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-birthdate-addon"><i class="bi bi-cake"></i></span>
                <input type="date" class="form-control" name="user-birthdate"
                       placeholder="Birthdate" aria-label="Password" aria-describedby="user-birthdate-addon" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-password-addon"><i class="bi bi-lock"></i></span>
                <input type="password" class="form-control" name="user-password"
                       placeholder="Password" aria-label="Password" aria-describedby="user-password-addon" />
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-repeat-addon"><i class="bi bi-unlock"></i></span>
                <input type="password" class="form-control" name="user-repeat"
                       placeholder="Repeat" aria-label="Login" aria-describedby="user-repeat-addon" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success" name="user-button" value="SignUp">Реєстрація</button>
</form>

@if (Model.FormModel != null)
{
    <p>
        Передано дані @Html.DisplayFor(m => Model.FormModel)
    </p>
}

<h2>Модель</h2>
<p>
    Для прийому даних від форми створюється модель (модель форми). Розрізнення випадків
    коли форма порожня та випадків, коли взагалі немає надсилання, здійснюється шляхом
    включення до моделі форми відомостей про кнопку надсилання. Аналогічно на самій формі
    на кнопці має бути зазначені ім'я та значення.
</p>

<p>
    Для передачі даних до представлення слід створити модель, до якої включити модель
    форми для можливості відновлення попередньо заповнених даних
</p>

<p>
    Передача даних форми здійнсюється у HTTP-пакеті, що, формально є одним запитом.
    Спроби оновлення сторінки, на яку надіслані дані означає необхідність повторення запиту,
    у відповідь на який побудована дана сторінка, тобто повторрну передачу форми.
    Якщо фрома передана методом GET , то одразу відбуваеться онрвлення сторінки, якщо POST
    то видається поеренє повідомлення, оскільки повтор може бути пов'язаний з
    повторним надсиланням великих даних у т.ч. файлів.
</p>
<p>
    Частіше за все повторне надсилання POST-даних не призводить до позитивних наслідків
    У кращому випадку може вимкнути конфлікт унікальності
    У гуршому випадку дані можуть замінти або додати до вже наявних що потребує
    їх подальщого пошуку та видалення
</p>
<p>
    Аналогічна поведінка моде виникти при русі історією запитів
</p>

<h2>"Скидання" параметрів</h2>
<p>
    Сервер не може змінити параметри запиту який зафіксував браузер для оновлення
    даної сторінки. Задача "прибиання" даних форми або "Скидання" параметрів реалізується
    інструментами редиректу:
</p>
<ul>
    <li>Браузер надсилає запити з формию методом POST</li>
    <li>
        Сервер приймає дані, зберігає та надсилає браузеру статус 30х (302 Found),
        У складі якого зазначається адреса переходу (редиректу)
    </li>
    <li>
        Браузер автоматично переходить на зазначений дедирект, причому завжди методом
        GET та без параметрів
    </li>
    <li>
        Сервер відновлює збережені дані та видає результат. Спроба оновлення такої сторінки
        повторить останній з запитів, тобто GET без параметрів
    </li>
</ul>
<p>
    Складність полягає у задачі збереження між запитами,
    причому не стільки у процессі збереження скільки у співвідесені даних та
    запиту, оскільки одночасно може надходити багато різних запитів.
    Вирішення даної задачі = сесії (сеанси)
</p>
<p>
    HTTP-сесія - механизм утворення серверних сховищ які співвідносяться з записами за
    допомогою встановлення заголовків-Cookie за якими вони і розпізнаються
</p>