@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h1 class="display-4">ASP 🤯🤯🤯 Intro, sweet intro</h1>
</div>

<h2>ASP</h2>
<p>
    <strong>ASP</strong> - Active Server Pages - фреймворк ASP.NET Core,
    призначений для створення веб-застосунків. Має декілька шаблонів:
    MVC, WebAPI, RazorPages тощо. MVC - найсучасніший та універсальний,
    такий що дозволяє реалізувати усі інші види застосунків
</p>

<h2>Принципи</h2>
<p>
    <string>Маршрутизація</string> - задається в <code>Program.cs</code>
    і за замовчуванням має вигляд <code>/Controller/Action/Id?</code>
    Назва контролера визначає назву класу, що буде обслуговувати даний запит,
    Action - назва методу цього класу (термін "метод" залишається для HTTP-методів)
</p>
<p>
    <strong>Представлення</strong> - автоматично визначається за назвою Action
    і шунається у двох локаціях: директорії <code>Views/[Controller]</code>
    та <code>Views/Shared</code>. Якщо представлення не буде знайдено (при знайденому Action),
    то виникає внутрішня помилка і відображається тсорінка Error
</p>
<p>
    <strong>Helpers</strong> (Tag-Helpers) - засоби ASP для створення веб-компонентів
    з урахуванням конфігурації застосунку (локалізації, маршрутизації тощо). Наприклад,
    посилання <code>&lt; href="Home/Intro">Вступ&lt;/a></code> завжди має задану адресу,
    у той час як інша форма
    <code> &lt;a asp-controller="Home" asp-action="Intro">Вступ&lt;/a></code>
    буде враховувати правила маршрутизації при побудові реального посилання. Зокрема,
    якщо шаблон зміниться на локалізований <code>/Locale/Controller/Action</code>, то
    перша форма стане неправильним посиланням, тоді як форма з Helper побудує замінене
    правильне посилання.
</p>
<p>
    <strong>Шаблонізація (Layouting)</strong> - усі сторінки сайту формуються через
    шаблон <code>Views/Shared/_Layout.cshtml</code>, у якому задається оточення та
    команда @* @RenderBody() *@, яка включає частинне представленн від контроллера.`
</p>
<p>
    <a class="nav-link" asp-action="Pricing">Pricing</a>
</p>