@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Використовуючи наш веб-сайт, ви надаєте згоду на обробку всіх наданих вами даних
    з метою надання якісного сервісу. Приймаючи цю політику, ви також підтверджуєте,
    що ознайомилися з переліком своїх прав як суб'єкта даних.
</p>

<h4>1. ЗБІР ОСОБИСТОЇ ІНФОРМАЦІЇ</h4>

<p>
    <strong>1.1.</strong> Під час заповнення контактних форм, запису на захід чи консультацію ми
    просимо вас повідомити необхідну особисту інформацію в обсязі, який
    є необхідним для надання послуг.
</p>

<p>
    <strong>1.2.</strong> Файли cookie — коли ви заходите на наш сайт, ми надсилаємо один або кілька
    файлів cookie на вашому комп'ютері або іншому пристрої. Файли cookie
    використовуються для того, щоб підвищувати якість послуг: зберігати
    налаштування користувача.
</p>

<p>
    <strong>1.3.</strong> Інформація про відвідування — при доступі на сайт наші сервери автоматично
    можуть записувати певну інформацію. Ці журнали серверів можуть містити таку
    інформацію, як веб-запит, IP-адресу, тип та версію браузера, дату та час запиту.
</p>

<h4>2. ЗАХИСТ ІНФОРМАЦІЇ</h4>

<p>
    <strong>2.1.</strong> Ми вживаємо всіх необхідних заходів для захисту даних від неавторизованого
    доступу, зміни, розкриття чи знищення. До цих заходів, зокрема, внутрішня
    перевірка процесів збору, зберігання та обробки даних та заходи безпеки,
    включаючи відповідне шифрування для захисту електронних даних, а також
    запобігання неавторизованому доступу.
</p>

<h4>3. ЗМІНА ДІЙСНОЇ ПОЛІТИКИ КОНФІДЕНЦІЙНОСТІ</h4>

<p>
    <strong>3.1.</strong> Дійсна політика конфіденційності може змінюватися. Зміни, що вносяться
    до політики конфіденційності, публікуються в цьому документі.
</p>